* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body{
    color: #fff;
    width: 100%;
    
}

.header{
    background: #000;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.nav-bar, .auth {
    width: 200px;
}

.nav-bar ul, .auth ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-bar a, .auth a{
    color: #fff;
    text-decoration: none;
}

/*SECTION*/

section{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.wrapper {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#search-container {
  margin: 1em 0;
  width: 55%;
  justify-content: center;
  align-items: center;
  display: flex;
}
#search-container input {
  background-color: transparent;
  width: 40%;
  border-bottom: 2px solid #110f29;
  padding: 1em 0.3em;
  
}
#search-container input:focus {
  border-bottom-color: #6759ff;
}
#search-container button {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #6759ff;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 0.5em;
}
.button-value {
  border: 2px solid #6759ff;
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: transparent;
  color: #6759ff;
  cursor: pointer;
}
.active {
  background-color: #6759ff;
  color: #ffffff;
}